@font-face {
  font-family: "YS Text";
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff2) format("woff2"),
    url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff) format("woff");
}

@font-face {
  font-family: "YS Text";
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff2) format("woff2"),
    url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff) format("woff");
}

@font-face {
  font-family: "YS Text";
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff2) format("woff2"),
    url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff) format("woff");
}

body {
  margin: 0;
  font-family: "YS Text";
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  font-size: 13px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
